html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#App {
  max-width: 1200px;
  margin: 2rem auto;
  background-color: powderblue;
}

header .toggle_B {
  width: 70px;
  height: 30px;
  background: #cccccc;
  border-radius: 15px;
  margin-bottom: 1rem;
}

header .toggleBtn {
  border: none;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 15px;
  position: relative;
  left: 0;
  transition: all 0.5s ease;
}

/* darkMode 설정 */
@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #000000;
  }
  header .toggleBtn {
    background: #ffffff;
  }
}
/* ligthMode 설정 */
@media (prefers-color-scheme: light) {
  body {
    color: #000000;
    background-color: #ffffff;
  }
  header .toggleBtn {
    background: #000000;
  }
}
/* light, black 모드 설정을 위한 토글 클래스 */
.light_mode {
  color: #000000;
  background: #ffffff;
}

.dark_mode {
  color: #ffffff;
  background: #000000;
}
