html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#App {
  max-width: 1200px;
  margin: 3rem auto;
}

header .searchInput {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.4rem;
}

main {
  min-width: 400px;
}

main .searchResult {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 1rem;
  text-align: center;
}

main .searchResult img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  cursor: pointer;
}

#loadingImg {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.random_B {
  text-align: center;
  padding: 1rem;
}

.randomBtn {
  padding: 1rem 0;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: antiquewhite;
  box-shadow: 0px 2px 4px #9c9c9c;
  color: #3a3a3a;
  transition: 0.2s;
  font-weight: 600;
  font-size: 1rem;
}

/* 모달창 */
.content-wrapper {
  min-width: 768px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 10px #3a3a3a;
  transition: 0.3s;
  z-index: 5;
}

.content-wrapper .title {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.content-wrapper .title span {
  font-size: 1.2rem;
  font-weight: bold;
}

.content-wrapper .title .close {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

.content-wrapper .title .close:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.content-wrapper img {
  width: 100%;
  height: 540px;
}

.content-wrapper .description {
  padding: 1rem 1.5rem;
}

.content-wrapper .description p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* 모달창 뒷 배경 */
.overlay {
  top: 0;
  left: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  opacity: 1;
}

/* 검색결과 없음 */
.no-search {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* darkMode 설정 */
.dark-mode header .toggleBtn {
  appearance: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: #6b6b6b;
  color: #fff;
  box-shadow: 0px 2px 4px #9c9c9c;
  position: fixed;
  display: inline-block;
  transition: 0.2s;
  right: 78px;
  bottom: 78px;
  font-weight: 600;
  font-size: 0.8rem;
}

.dark-mode header .toggleBtn:hover {
  background-color: #8d8d8d;
  color: #dfdfdf;
  transition: 0.2s;
}

/* ligthMode 설정 */
header .toggleBtn {
  appearance: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: antiquewhite;
  box-shadow: 0px 2px 4px #9c9c9c;
  position: fixed;
  display: inline-block;
  transition: 0.2s;
  right: 78px;
  bottom: 78px;
  font-weight: 600;
  font-size: 0.8rem;
}

.toggleBtn:hover {
  background-color: #4b4b4b;
  color: #dfdfdf;
  transition: 0.2s;
}
/* light, black 모드 설정을 위한 토글 클래스 */

.light-mode {
  color: #3a3a3a;
  background: #ffffff;
}

.dark-mode {
  color: #ffffff;
  background: #3a3a3a;
}
